[submodule "models"]
	path = models
	url = https://github.com/PEEC-Nature-Youth-Group/pumaguard-models.git
[submodule "data"]
	path = data
	url = https://github.com/PEEC-Nature-Youth-Group/training-data.git
