network:
  version: 2
  renderer: NetworkManager
  wifis:
    wifi1:
      optional: true
      dhcp4: true
      match:
        name: wlx8c86dd781eed
      set-name: wifi1
      access-points:
        {% for network in wireless_networks %}
        "{{ network.ssid }}":
          {% if network.password %}
          password: "{{ network.password }}"
          {% else %}
          {}
          {% endif %}
        {% endfor %}
