cloud-sptheme
matplotlib ~= 3.10
myst-parser
pandas ~= 2.3
pillow ~= 11.1
playsound3
sphinx-book-theme
sphinxcontrib-mermaid
sphinx-copybutton
sphinx_new_tab_link
tensorflow ~= 2.20
ultralytics ~= 8.3
