name: Test and package code

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    branches: [main]
  workflow_dispatch:
  workflow_call:
  merge_group:

env:
  PYTHON_VERSION: "3.12" # Needs to work with Tensorflow

jobs:
  get-version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
          cache-dependency-path: pyproject.toml
      - name: Get version
        run: |
          git describe --tags | sed --regexp-extended 's/^v([0-9]+)(-([0-9]+))?.*/\1.post\3/; s/.post$//' > version
      - name: Upload version
        uses: actions/upload-artifact@v4
        with:
          name: version
          path: version

  lint-python:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Lint Python Sources (pylint)
        run: make pylint
      - name: Lint Python Sources (black)
        run: make black
      - name: Lint Python Sources (isort)
        run: make isort
      - name: Lint Python Sources (mypy)
        run: make mypy

  lint-bash:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
          cache-dependency-path: pyproject.toml
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Lint Bash Sources (bashate)
        run: make bashate

  lint-ansible:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
          cache-dependency-path: pyproject.toml
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Run ansible-lint
        env:
          ANSIBLE_VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
        run: |
          echo "${ANSIBLE_VAULT_PASSWORD}" > .vault_pass
          make ansible-lint ANSIBLE_ASK_VAULT_PASS=false ANSIBLE_VAULT_PASSWORD_FILE=.vault_pass
          rm -f .vault_pass

  compress-submodules:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Archive submodules
        run: |
          set -e -u -x
          pushd pumaguard-models
          git archive --output ../pumaguard-models.tar.gz HEAD
          popd
          pushd training-data
          git archive --output ../training-data.tar.gz HEAD verification Stables testlion_100525
          popd
      - uses: actions/upload-artifact@v4
        with:
          name: submodule-models
          path: pumaguard-models.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          name: submodule-data
          path: training-data.tar.gz

  test-python:
    runs-on: ubuntu-latest
    needs:
      - lint-python
      - compress-submodules

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false
      - uses: actions/download-artifact@v4
        with:
          name: submodule-models
      - name: Unpack models
        run: |
          set -e -u -x
          tar -C pumaguard-models -xf pumaguard-models.tar.gz
      - uses: actions/download-artifact@v4
        with:
          name: submodule-data
      - name: Unpack training data
        run: |
          set -e -u -x
          tar -C training-data -xf training-data.tar.gz
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
          cache-dependency-path: pyproject.toml
      - name: Install dependencies
        run: |
          set -e -u -x
          sudo apt install --yes --no-install-recommends inotify-tools mpg123
          python -m pip install --upgrade pip
      - name: Run tests
        run: |
          make test

  test-server:
    runs-on: ubuntu-latest
    needs:
      - build-python

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: submodule-models
      - name: Unpack models
        run: |
          set -e -u -x
          tar -C pumaguard-models -xf pumaguard-models.tar.gz
      - uses: actions/download-artifact@v4
        with:
          name: submodule-data
      - name: Unpack training data
        run: |
          set -e -u -x
          tar -C training-data -xf training-data.tar.gz
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make install
      - name: Install additional packages
        run: |
          sudo apt-get install --yes --no-install-recommends \
            mpg123 \
            pipewire
      - name: Start server and test
        run: make test-server
      - name: Verify server output
        run: |
          grep "Chance of puma" pumaguard.log

  build-python:
    runs-on: ubuntu-latest
    needs:
      - test-python
      - lint-python
      - get-version

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/download-artifact@v4
        with:
          name: submodule-models
      - name: Unpack models
        run: |
          set -e -u -x
          tar -C pumaguard-models -xf pumaguard-models.tar.gz
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make install
      - uses: actions/download-artifact@v4
        with:
          name: version
      - name: Get Python package version
        id: get_python_package_version
        run: |
          VERSION=$(cat version)
          echo "python_package_version=${VERSION}" >> "${GITHUB_OUTPUT}"
          echo "Setting version: ${VERSION}"
      - name: Update package version
        run: sed --in-place "s/^version.*/version = \"${{ steps.get_python_package_version.outputs.python_package_version }}\"/" pyproject.toml
      - name: Build package
        run: make build
      - uses: actions/upload-artifact@v4
        with:
          name: python-package-${{ steps.get_python_package_version.outputs.python_package_version }}
          path: dist/*

  build-snap:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: amd64
          - os: ubuntu-24.04-arm
            arch: arm64
    needs:
      - test-python
      - lint-python
      - lint-bash
      - get-version

    steps:
      - name: Check container free disk space
        run: df --human-readable /
      - name: Get largest installed packages
        run: |
          dpkg-query --show --showformat='${Package;-50}\t${Installed-Size}\n' | \
            sort --human-numeric-sort --key 2 --reverse | \
            head --lines 20
      - name: Check disk allocation
        run: du --human-readable --max-depth 1 / 2> /dev/null | sort --human-numeric-sort --reverse
      - name: Check disk allocation (/usr/local)
        run: du --human-readable --max-depth 1 /usr/local 2> /dev/null | sort --human-numeric-sort --reverse
      - name: Remove unnecessary packages on amd64
        run: |
          sudo apt-get remove --auto-remove --purge \
            azure-cli \
            microsoft-edge-stable \
            google-cloud-cli \
            google-chrome-stable \
            \*temurin\* \
            \*llvm\* \
            powershell \
            \*dotnet\* \
            firefox \
            \*jdk\* \
            \*g++\* \
            \*mysql\*
        if: ${{ matrix.os == 'ubuntu-24.04' }}
      - name: Clean up /usr/local
        run: |
          sudo rm -rf /usr/local/{julia*,aws*}
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/share/{chromium,powershell}
      - name: Get largest installed packages
        run: |
          dpkg-query --show --showformat='${Package;-50}\t${Installed-Size}\n' | \
            sort --human-numeric-sort --key 2 --reverse | \
            head --lines 20
      - name: Get installed snaps
        run: snap list
      - name: Check disk allocation
        run: du --human-readable --max-depth 1 / 2> /dev/null | sort --human-numeric-sort --reverse | head --lines 30
      - name: Check disk allocation (/usr)
        run: du --human-readable --max-depth 1 /usr 2> /dev/null | sort --human-numeric-sort --reverse | head --lines 30
      - name: Check disk allocation (/usr/local)
        run: du --human-readable --max-depth 1 /usr/local 2> /dev/null | sort --human-numeric-sort --reverse | head --lines 30
      - name: Check disk allocation (/usr/local/{lib,share,bin})
        run: du --human-readable --max-depth 1 /usr/local/{lib,share,bin} 2> /dev/null | sort --human-numeric-sort --reverse | head --lines 30
      - name: Check disk allocation (/opt)
        run: du --human-readable --max-depth 1 /opt 2> /dev/null | sort --human-numeric-sort --reverse | head --lines 30
      - name: Check container free disk space
        run: df --human-readable /
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: submodule-models
      - name: Unpack models
        run: |
          set -e -u -x
          tar -C pumaguard-models -xf pumaguard-models.tar.gz
      - name: Check container free disk space
        run: df --human-readable /
      - uses: actions/download-artifact@v4
        with:
          name: version
      - name: Get snap version
        id: get_snap_version
        run: |
          VERSION=$(cat version)
          echo "snap_version=${VERSION}" >> "${GITHUB_OUTPUT}"
          echo "Setting version: ${VERSION}"
      - uses: snapcore/action-build@v1
        id: snap
      - uses: actions/upload-artifact@v4
        with:
          name: snap-${{ steps.get_snap_version.outputs.snap_version }}-${{ matrix.arch }}
          path: ${{ steps.snap.outputs.snap }}

  release:
    runs-on: ubuntu-latest
    needs:
      - build-python
      - build-snap
      - functional-poetry
      - functional-snap
      - lint-ansible
      - verify-poetry
      - verify-snap
    permissions: write-all

    steps:
      - uses: actions/download-artifact@v4
      - name: Upload release artifacts
        run: |
          #!/bin/bash
          set -e -u -x
          RELEASE_ID=$(curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/releases \
            -d '{ "tag_name": "${{ github.ref_name }}", "name": "Release ${{ github.ref_name }}", "generate_release_notes": true }' \
            | jq --raw-output '.id')
          for artifact in snap-*/*.snap python-package-*/*.whl; do
            curl -L \
              -X POST \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              -H "Content-Type: application/octet-stream" \
              "https://uploads.github.com/repos/${{ github.repository }}/releases/${RELEASE_ID}/assets?name=${artifact}" \
              --data-binary "@${artifact}"
          done
        if: ${{ github.ref_type == 'tag' }}

  functional-poetry:
    runs-on: ubuntu-latest
    needs:
      - build-python

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: submodule-models
      - uses: actions/download-artifact@v4
        with:
          name: submodule-data
      - name: Unpack models
        run: |
          set -e -u -x
          tar -C pumaguard-models -xf pumaguard-models.tar.gz
      - name: Unpack training data
        run: |
          set -e -u -x
          tar -C training-data -xf training-data.tar.gz
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - run: make functional-poetry

  functional-snap:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: amd64
          - os: ubuntu-24.04-arm
            arch: arm64
    needs:
      - build-snap

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - name: Unpack models
        run: |
          set -e -u -x
          tar -C pumaguard-models -xf submodule-models/pumaguard-models.tar.gz
      - name: Unpack training data
        run: |
          set -e -u -x
          tar -C training-data -xf submodule-data/training-data.tar.gz
      - name: Ensure snapd
        run: sudo systemctl restart snapd.service
      - name: Install snap
        run: |
          set -e -u -x
          sudo snap install --dangerous ./snap-*/pumaguard*${{ matrix.arch }}*.snap
          sudo snap connect pumaguard:tensorflow pumaguard-tensorflow:tensorflow
          for (( i = 0; i < 5; i++ )); do
            if echo "ls /snap/pumaguard/current/pumaguard-tensorflow/" | sudo snap run --shell pumaguard; then
              exit 0
            fi
            sudo snap disconnect pumaguard:tensorflow pumaguard-tensorflow:tensorflow
            sleep 10
            sudo snap connect pumaguard:tensorflow pumaguard-tensorflow:tensorflow
            sleep 10
          done
          exit 1
      - run: make functional-snap

  verify-poetry:
    runs-on: ubuntu-latest
    needs:
      - build-python

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: submodule-models
      - name: Unpack models
        run: |
          set -e -u -x
          tar -C pumaguard-models -xf pumaguard-models.tar.gz
      - uses: actions/download-artifact@v4
        with:
          name: submodule-data
      - name: Unpack training data
        run: |
          set -e -u -x
          tar -C training-data -xf training-data.tar.gz
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - run: make verify-poetry

  verify-snap:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: amd64
          - os: ubuntu-24.04-arm
            arch: arm64
    needs:
      - build-snap

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - name: Unpack models
        run: |
          set -e -u -x
          tar -C pumaguard-models -xf submodule-models/pumaguard-models.tar.gz
      - name: Unpack training data
        run: |
          set -e -u -x
          tar -C training-data -xf submodule-data/training-data.tar.gz
      - name: Ensure snapd
        run: sudo systemctl restart snapd.service
      - name: Install snap
        run: |
          set -e -u -x
          sudo snap install --dangerous ./snap-*/pumaguard*${{ matrix.arch }}*.snap
          sudo snap connect pumaguard:tensorflow pumaguard-tensorflow:tensorflow
          for (( i = 0; i < 5; i++ )); do
            if echo "ls /snap/pumaguard/current/pumaguard-tensorflow/" | sudo snap run --shell pumaguard; then
              exit 0
            fi
            sudo snap disconnect pumaguard:tensorflow pumaguard-tensorflow:tensorflow
            sleep 10
            sudo snap connect pumaguard:tensorflow pumaguard-tensorflow:tensorflow
            sleep 10
          done
          exit 1
      - run: make verify-snap

  train-snap:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: amd64
          - os: ubuntu-24.04-arm
            arch: arm64
    needs:
      - build-snap

    if: false

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - name: Unpack models
        run: |
          set -e -u -x
          tar -C pumaguard-models -xf submodule-models/pumaguard-models.tar.gz
      - name: Unpack training data
        run: |
          set -e -u -x
          tar -C training-data -xf submodule-data/training-data.tar.gz
      - name: Ensure snapd
        run: sudo systemctl restart snapd.service
      - name: Install snap
        run: |
          set -e -u -x
          sudo snap install --dangerous ./snap-*/pumaguard*${{ matrix.arch }}*.snap
          sudo snap connect pumaguard:tensorflow pumaguard-tensorflow:tensorflow
          for (( i = 0; i < 5; i++ )); do
            if echo "ls /snap/pumaguard/current/pumaguard-tensorflow/" | sudo snap run --shell pumaguard; then
              exit 0
            fi
            sudo snap disconnect pumaguard:tensorflow pumaguard-tensorflow:tensorflow
            sleep 10
            sudo snap connect pumaguard:tensorflow pumaguard-tensorflow:tensorflow
            sleep 10
          done
          exit 1
      - run: make train

  publish-to-pypi:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pumaguard
    permissions:
      id-token: write
    needs:
      - build-python
      - functional-poetry
      - verify-poetry
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/download-artifact@v4
      - run: |
          mv python-package* dist
          ls -lh dist
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
